<nav class="navbar navbar-expand-md bg-light navbar-light ">
    <div class="container">
        <a href="#"><img id="logo" src="/ressources/images/logo.jpg" alt="logo"></a>
        <a class="navbar-brand" href="/">Réchauffement climatique</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#monMenu"
            aria-controls="monMenu" aria-label="Menu pour mobile">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="monMenu">
            {{#if user}}
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="/user/logout">Se déconnecter</a>

                <a class="nav-item nav-link" href="/consequences/add">Publier un dégat</a>

                <a class="nav-item nav-link" href="/degats">Voir les dégats</a>

                <a class="nav-item nav-link" href="/commentaires">Commentaires</a>

                {{else}}

                <a class="nav-item nav-link" href="/user/login">Se connecter</a>


                <a class="nav-item nav-link" href="/user/Add">S'inscrire</a>


                <a class="nav-item nav-link" href="/contact">Contactez-nous</a>

                {{/if}}
            </div>
        </div>

</nav>