<!--page commentaire-->
<section class="com">
    <div class="container ">
        <h3>Bien comprendre la « Charte des commentaires de <span>Réchauffement climatique</span> » en 10 points</h3>
        <ul>
            <li>
                <p>1.Doit se conformer à la législation en vigueur. Sont proscrits: l'incitation à la haine
                    raciale et à la discrimination, l'appel à la violence; la diffamation, l'injure, l'insulte et
                    la calomnie; l'incitation au suicide, à l'anorexie, l'incitation à commettre des faits contraires
                    à la loi; les collages de textes soumis au droit d'auteur ou au copyright;les sous-entendus
                    racistes, homophobes, sexistes,
                    handiphobes ainsi que les blagues stigmatisantes.</p>
            </li>
            <li>
                <p>2.De plus, votre message doit respecter les règles d’un échange respectueux des internautes
                    comme des journalistes de rechauffement climatique: pas d’agressivité, d’attaques personnelles. Il
                    ne doit
                    pas être hors-sujet et ne pas tomber dans la vulgarité et la grossièreté.</p>
            </li>
            <li>
                <p>3.Toute allusion à une décision de modération sera supprimée. En cas de problème, vous pouvez
                    nous contacter par la messagerie privée (voir point 10)</p>
            </li>
            <li>
                <p>4.Les liens postés à des fins commerciales, hors sujet, ou amenant vers des sites non « fiables »
                    seront supprimés.</p>
            </li>
            <li>
                <p>5.Les commentaires doivent être rédigés avec soin (orthographe, grammaire, typographie). Langage SMS,
                    abus de signes de typographie tels « ???? » ou « !!!!! », utilisation des majuscules sont donc à
                    éviter.</p>
            </li>
            <li>
                <p>6.Il est interdit de publier plusieurs fois le même commentaire, même si celui-ci a été supprimé par
                    un modérateur.</p>
            </li>
            <li>
                <p>7.Si vous identifiez un commentaire non conforme à cette charte, utilisez la fonction « alerter ». Ou
                    contactez
                    nous via la messagerie privée s'il a lieu sur Facebook, en précisant le post/article concerné et le
                    pseudo de
                    l'internaute.</p>
            </li>
            <li>
                <p>8.Réchauffement climatique respecte tous les engagements de ses lecteurs, mais n'autorise pas le
                    prosélytisme de manière
                    générale, pour une religion, un parti, un candidat.</p>
            </li>
            <li>
                <p>9.Ne communiquez jamais vos informations personnelles (email, adresse, numéro de téléphone) dans un
                    commentaire</p>
            </li>
            <li>
                <p>10.L'un de vos commentaires a été supprimé? Vous ne comprenez toujours pas pourquoi? Demandez des
                    explications, de
                    manière cordiale, en contactant la rédaction via la messagerie privée de notre page Facebook ou en
                    envoyant un
                    mail à rechauffementclimat@yahoo.com</p>
            </li>
        </ul>
    </div>
</section>
