<section class="contact">
    <div class="container">
        <h1 class="title">Pour tout contact, appelez au</h1>
        <p> 06.34.36.05.39</p>
        <p>Ou nous écrire à l'adresse suivante : <br> Email : nnsukula.carine@yahoo.com <br> Siège social : <br> 13 Rue Dom Mocquereau <br> 49300 Cholet <br>France</p>
    </div>
</section>