<header>
  <div class="container">
     <div class="row">
    <div class="col-lg-9">
      <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox" style="height: auto;">
          <div class="carousel-item active">
            <img class="d-block img-fluid "src="/ressources/images/climat1.jpg" alt="First slide" />
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/ressources/images/paysage.jpg" alt="Second slide" />
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/ressources/images/foretrdc.jpg" alt="Third slide" />
          </div>
        </div>
      </div>
    </div>
     </div>
     <div class="row">
       <div class="col-md-12">
    <div class=" home-title">
      <h1>Le monde en <span>feu !</span></h1>
      <p>Découvrons les conséquences du réchauffement climatique dans le monde entier,
        il est temps d'agir. <br>
        Ici nous tirons une sonnette d'alarme pour dire que notre chère planète est en péril.</p>
      <a href="/degats" class="btn btn-full">Les conséquences</a>
      <a href="/contact" class="btn btn-ghost">Contactez-nous</a>
    </div>
       </div>
       
  </div>
</header>


<!--les conséquences-->
<section class="sect1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>C'est maintenant ou jamais</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-12 conseq-maj1">
            <img src="ressources/images/secheresse1.jpg" alt="la terre" class="terre-img">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 conseq-maj1">
            <img src="ressources/images/koala.webp" alt="la terre" class="terre-img">
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <!--terre séche-->
        <div class="terre">
          <div class="row">
            <div class="col-md-2">
              <div class="conseq-icon">
                <i class="fas fa-hand-holding-water"></i>
              </div>
            </div>
            <div class="col-md-10">
              <h3>L'image qui interpelle</h3>
              <p>L'absence des pluies provoque plusieurs dégats tels que : la terre séche,
                les incendies à répetition et surtout les rivières tarissent à vitesse incroyable.
                L’impact des changements climatiques est une réalité humanitaire à laquelle les
                équipes
                d’Action Contre la Faim font face tous les jours. Aux risques de catastrophes
                climatiques
                s’ajoutent de graves conséquences sanitaires souvent elles-mêmes liées à la pression
                accrue
                sur les ressources naturelles et notamment l’accès à l’eau potable. Par ailleurs,
                les changements
                climatiques impactent déjà fortement la sécurité alimentaire et les moyens de
                subsistance
                d’un grand nombre de petits producteurs. Ils agissent comme un facteur aggravant
                dans des zones
                déjà extrêmement vulnérables et peuvent exacerber des tensions intercommunautaires
                quand l’accès
                aux ressources naturelles est un enjeu de survie. Parce qu’ils représentent un
                fardeau supplémentaire
                pour les populations les plus fragiles, faire face aux changements climatiques est
                au coeur du mandat
                d’Action Contre la Faim.

                Le Groupe d’Experts Intergouvernemental sur l’Évolution du Climat (GIEC) est formel
                : si un plan
                d’action ambitieux n’est pas mis en oeuvre dès maintenant, il sera difficile voire
                impossible de
                maintenir la température à la surface du globe en deçà du seuil des +2°C de
                réchauffement (par rapport
                à l’ère préindustrielle). Au-delà de ce seuil, le monde devra faire face à des
                conséquences irréversibles
                pour tous, en particulier pour les populations les plus fragiles, les femmes et les
                enfants en premier lieu.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!---les trois majeures-->
<section class="conseq-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>les trois conséquences majeures</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="conseq-maj">
          <img src="ressources/images/feu1.jpg" alt="">
          <h4>les incendies partout dans le monde</h4>
          <p>Pas moins de 11 hectares de forêts brûlent en moyenne chaque seconde dans le monde. L'année
            2019 a battu tous les records,
            selon le Service pour la surveillance de l'atmosphère de Copernicus.La catastrophe
            australienne le souligne jour après jour.
            « Nous avons été témoins d'une activité exceptionnelle. Même dans des endroits où nous nous
            attendions à voir des incendies
            à certains moments de l'année, l'intensité a été surprenante », explique son directeur
            scientifique Mark Parrington.

            Les conséquences sont environnementales mais aussi sanitaires et climatiques : 6.375
            mégatonnes de CO2 ont été rejetées dans
            l'atmosphère par ces feux, « qui peuvent produire une combinaison de particules, de monoxyde
            de carbone et d'autres polluants
            dangereux pour la santé de toute vie sur la planète », prévient l'organisation. Selon WWF,
            la destruction des forêts provoque
            presque 20 % des émissions globales de gaz à effets de serre.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="conseq-maj">
          <img src="ressources/images/secheresse2.jpg" alt="">
          <h4>Les terres arides par manque des pluies</h4>
          <p>Pas moins de 11 hectares de forêts brûlent en moyenne chaque seconde dans le monde. L'année
            2019 a battu tous les records,
            selon le Service pour la surveillance de l'atmosphère de Copernicus.La catastrophe
            australienne le souligne jour après jour.
            « Nous avons été témoins d'une activité exceptionnelle. Même dans des endroits où nous nous
            attendions à voir des incendies
            à certains moments de l'année, l'intensité a été surprenante », explique son directeur
            scientifique Mark Parrington.

            Les conséquences sont environnementales mais aussi sanitaires et climatiques : 6.375
            mégatonnes de CO2 ont été rejetées dans
            l'atmosphère par ces feux, « qui peuvent produire une combinaison de particules, de monoxyde
            de carbone et d'autres polluants
            dangereux pour la santé de toute vie sur la planète », prévient l'organisation. Selon WWF,
            la destruction des forêts provoque
            presque 20 % des émissions globales de gaz à effets de serre.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="conseq-maj">
          <img src="ressources/images/climat1.jpg" alt="">
          <h4>les perturbations des saisons</h4>
          <p>Pas moins de 11 hectares de forêts brûlent en moyenne chaque seconde dans le monde. L'année
            2019 a battu tous les records,
            selon le Service pour la surveillance de l'atmosphère de Copernicus.La catastrophe
            australienne le souligne jour après jour.
            « Nous avons été témoins d'une activité exceptionnelle. Même dans des endroits où nous nous
            attendions à voir des incendies
            à certains moments de l'année, l'intensité a été surprenante », explique son directeur
            scientifique Mark Parrington.
            Les conséquences sont environnementales mais aussi sanitaires et climatiques : 6.375
            mégatonnes de CO2 ont été rejetées dans
            l'atmosphère par ces feux, « qui peuvent produire une combinaison de particules, de monoxyde
            de carbone et d'autres polluants
            dangereux pour la santé de toute vie sur la planète », prévient l'organisation. Selon WWF,
            la destruction des forêts provoque
            presque 20 % des émissions globales de gaz à effets de serre.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!---galerie photo-->
<section id="photos" class="sect1">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <h2>Les images qui parlent</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="galerie" style="background-image: url(ressources/images/feu2.jpeg);">
          <div class="galerie-title">
            <h4>Image incendie </h4>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="galerie" style="background-image: url(ressources/images/secheresse3.jpg);">
          <div class="galerie-title">
            <h4>Image sécheresse</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="galerie" style="background-image: url(ressources/images/foret1.png);">
          <div class="galerie-title">
            <h4>Image incendie</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="galerie" style="background-image: url(ressources/images/clima2.jpg);">
          <div class="galerie-title">
            <h4>Image incendie</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="galerie" style="background-image: url(ressources/images/foret3.jpg);">
          <div class="galerie-title">
            <h4>Image sécheresse</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!---contact-->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="form">
              <h2>Contactez-nous</h2>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                aliquet nec, vulputate eget, arcu. In enim justo, rhoncus</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="phone">
              <p><i class="fas fa-phone"></i> 06.34.36.05.39</p>
            </div>
          </div>
          <div class="col-md-8">
            <div class="adresse">
              <p><i class="fas fa-map-marker-alt"></i> 1 Place Travot 49300 Cholet</p>
            </div>
          </div>
        </div>
        <form action="">
          <!--nom et email-->
          <div class="row">
            <div class="col-md-6">
              <div class="contact-form">
                <label for="">Nom :</label>
                <input type="text" id="name" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="contact-form">
                <label for="">Email :</label>
                <input type="email" id="email" placeholder="Ajouter votre email" />
              </div>
            </div>
          </div>
          <!---message-->
          <div class="row">
            <div class="col-md-12">
              <div class="contact-form">
                <label>Votre message</label>
                <textarea id="message" rows="3" class="contact-message"></textarea>
              </div>
            </div>
          </div>
          <!---button envoyer-->
          <div class="row">
            <div class="col-md-12">
              <div class="contact-form">
                <button class="btn btn-contact">Envoyer</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d87015.10779228016!2d-0.9448373917186504!3d47.035872096527505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48064414adcdf0e5%3A0x1c0d3755a0e01f80!2s49300%20Cholet!5e0!3m2!1sfr!2sfr!4v1587022303626!5m2!1sfr!2sfr"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>